.planos{
    color: rgba(65, 55, 82, 1);
    font-family: LevenimBold;
    text-align: center;
    font-size: 40px;
    margin: 15px;
    margin-top: 100px;
}

.preco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.viajante{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 550px;
    border: solid 2px rgb(170, 170, 170);
    border-radius: 37px;
    margin: 25px;
    margin-right: 65px;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.4);
}
.viajante>img{
    width: 302px;
    margin-bottom: 25px;
}
.viajante>p{
    text-align: center;
    font-family: Levenim;
    margin-top: 25px;
    width: 180px;
}

.viajante>.texto_viajante{
    display: flex;
    align-items: center;  
    color: rgba(56,36,105,1);  
}

.viajante>.texto_viajante>.risco{
    height: 50px;
    width: 0px;
    border: 2px solid rgba(56,36,105,1);
    margin-right: 10px;
}

.viajante>.texto_viajante>h2{
    font-family: LevenimBold;
    text-align: center; 

}

.viajante>.texto_viajante>h3{
    font-family: LevenimBold;
    font-size: 35px;
    text-align: center;
    margin-right: 20px;
      
}

.viajante>.texto_viajante>p{
    font-family: LevenimBold;
    text-align: center;
    width: 50px;
      
}

.team{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 550px;
    border: solid 2px rgb(170, 170, 170);
    border-radius: 37px;
    margin: 25px;
    margin-left: 65px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.4);
}
.team>img{
    width: 302px;
    margin-bottom: 25px;
}

.team>.texto_team{
    display: flex;
    align-items: center;
    color: rgba(56,36,105,1);
    
}

.team>.texto_team>.risco2{
    height: 50px;
    width: 0px;
    border: 2px solid rgba(56,36,105,1);
    margin-right: 5px;
}

.team>.texto_team>h2{
    font-family: LevenimBold;
    text-align: center;  
}

.team>.texto_team>h3{
    font-family: LevenimBold;
    font-size: 35px;
    text-align: center;
    margin-right: 20px;
      
}

.team>.texto_team>h3>span{
    font-family: LevenimBold;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
      
}

.team>.texto_team>p{
    font-family: LevenimBold;
    text-align: center;
    width: 50px;
      
}

.team>p{
    font-family: Levenim;
    text-align: center;
    width: 180px;
    padding-top: 25px;
      
}

